.page-title{
  margin-bottom: 20px;
}
.table-box{
  margin-top:20px;
}
.table-title{
  margin-bottom: 20px;
  .title{
    color:#409eff;
  }
  .update-title{
    margin-left:20px;
  }
  span{
    color:#bbb;
  }
}
.filtter-box{
  display: flex;
  align-items: center;
  .input-box{
    width:300px;
    margin:0 10px;
  }
  .select-box{
    width: 400px;
  }
}
.illustrate{
  color:#409eff;
  margin-top:20px;
}
