.page-title {
  margin-bottom: 20px;
}

.item-title {
  color: #409eff;
  margin-bottom: 20px;
}

.edit-box {
  text-align: right;
  margin-top: 20px;

  span {
    cursor: pointer;
    color: #409eff;
  }
}

.card-box {
  margin-top: 10px;
}

.tab-box {
  display: flex;
  margin-bottom: 20px;
}

.is-select {
  color: #409eff
}

.tab-item {
  margin-right: 50px;
  cursor: pointer;
}

.switch-box {
  margin-bottom: 20px;
}
