@import './variables.scss';
@import './transition.scss';
@import './scss-suger.scss';
@import './reset-style.scss';
@import './elemenetStyleOverFlow.scss';

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}