.page-title{
  margin-bottom: 20px;
}
.table-box{
  margin-top:20px;
}
.table-title{
  margin-bottom: 20px;
  .title{
    color:#409eff;
  }
  .update-title{
    margin-left:20px;
  }
  span{
    color:#bbb;
  }
}
.filtter-box{
  display: flex;
  align-items: center;
  .input-box{
    width:300px;
    margin:0 10px;
  }
  .select-box{
    width: 400px;
  }
}
.title-box{
  display: flex;
  justify-content: space-between;
}
.row-box{
  border:1px solid #eee;
  margin-bottom:5px;
}
.col-title{
  background-color: #eee;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.col-content{
  padding:0 20px;
  height: 45px;
  line-height: 45px;

}

