.container-box{
  padding:20px;
  .title{
    margin-bottom:20px;
  }
  .form-item{
    padding:20px 100px;
    
    .item-title{
      margin-bottom:10px;
    }
  }
  .btn{
    text-align: center;
    margin:20px 0;
  }
}